<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Rechercher un shop</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Shop">
    </div>
    
    <div class="form-group">
    <label for="exampleInputEmail1">Choisir l'emplacement</label>
    <select class="custom-select">
      <option selected>Choisir l'emplacement</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div>


    <div class="form-group">
      <label for="exampleInputEmail1">Choisir categorie</label>
      <select class="custom-select">
        <option selected>Choisir categorie</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>

    
    <button type="submit" class="btn btn-primary">Filtrer</button>
  </form>