
<div class="card mb-3">
  <img style="height: 100px" class="h-15 card-img-top" src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-9/49319531_375500883200322_1894229806174699520_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=973b4a&_nc_ohc=UKENTgMViHgAX9fSSvQ&_nc_ht=scontent.ftun10-1.fna&oh=00_AT-oNmeCRrJPFqCiZhTj2yyXqgGJQi44Q97suJbao9Sc0g&oe=62F8EFFD" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Publicité</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    
  </div>
</div>


<section class="pt-5 pb-5">
  <div class="container">
    <div class="row d-flex ">

      <!--Foreach data-->
        <div class="col-12 col-md-4 mb-4 mt-2">
            <div class="card  h-100 border-light  bg-light shadow">
                <div class="card-body ">
                  <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

                    <blockquote class="blockquote mb-4 pb-2">
                        <p class="mb-0 font-weight-bold">Nom Boutique</p>
                        <footer class="blockquote-footer">Emplacement</footer>
                    </blockquote>
                    <p class="card-text mb-3">Catégorier : </p>
                    <p class="card-text mb-3">Note : </p>
                    <div class="w-100 pb-1"></div>
                    <div class="d-flex align-items-center">
                        <div class="meta-author">
                            <img class="w-50 d-block img-fluid rounded-circle" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="author avatar">
                        </div>
                        <div class="m-2">
                            <a href="#">Nom de Hamza</a>
                        </div>
                        <div class="meta-item ml-auto">
                            <a href="#">
                                <i class="fas fa-link m-1"></i>Dettail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Foreach data-->

         <!--Foreach data-->
         <div class="col-12 col-md-4 mb-4 mt-2">
          <div class="card  h-100 border-light  bg-light shadow">
              <div class="card-body ">
                <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

                  <blockquote class="blockquote mb-4 pb-2">
                      <p class="mb-0 font-weight-bold">Nom Boutique</p>
                      <footer class="blockquote-footer">Emplacement</footer>
                  </blockquote>
                  <p class="card-text mb-5">Catégorier</p>
                  <div class="w-100 pb-1"></div>
                  <div class="d-flex align-items-center">
                      <div class="meta-author">
                          <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " alt="author avatar">
                      </div>
                      <div class="m-2">
                          <a href="#">Nom de Hamza</a>
                      </div>
                      <div class="meta-item ml-auto">
                          <a href="#">
                              <i class="fas fa-link m-1"></i>Dettail</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--Foreach data-->

       <!--Foreach data-->
       <div class="col-12 col-md-4 mb-4 mt-2">
        <div class="card  h-100 border-light  bg-light shadow">
            <div class="card-body ">
              <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

                <blockquote class="blockquote mb-4 pb-2">
                    <p class="mb-0 font-weight-bold">Nom Boutique</p>
                    <footer class="blockquote-footer">Emplacement</footer>
                </blockquote>
                <p class="card-text mb-5">Catégorier</p>
                <div class="w-100 pb-1"></div>
                <div class="d-flex align-items-center">
                    <div class="meta-author">
                        <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " alt="author avatar">
                    </div>
                    <div class="m-2">
                        <a href="#">Nom de Hamza</a>
                    </div>
                    <div class="meta-item ml-auto">
                        <a href="#">
                            <i class="fas fa-link m-1"></i>Dettail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Foreach data-->
 <!--Foreach data-->
 <div class="col-12 col-md-4 mb-4 mt-2">
  <div class="card  h-100 border-light  bg-light shadow">
      <div class="card-body ">
        <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

          <blockquote class="blockquote mb-4 pb-2">
              <p class="mb-0 font-weight-bold">Nom Boutique</p>
              <footer class="blockquote-footer">Emplacement</footer>
          </blockquote>
          <p class="card-text mb-5">Catégorier</p>
          <div class="w-100 pb-1"></div>
          <div class="d-flex align-items-center">
              <div class="meta-author">
                  <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " alt="author avatar">
              </div>
              <div class="m-2">
                  <a href="#">Nom de Hamza</a>
              </div>
              <div class="meta-item ml-auto">
                  <a href="#">
                      <i class="fas fa-link m-1"></i>Dettail</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Foreach data-->
 <!--Foreach data-->
 <div class="col-12 col-md-4 mb-4 mt-2">
  <div class="card  h-100 border-light  bg-light shadow">
      <div class="card-body ">
        <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

          <blockquote class="blockquote mb-4 pb-2">
              <p class="mb-0 font-weight-bold">Nom Boutique</p>
              <footer class="blockquote-footer">Emplacement</footer>
          </blockquote>
          <p class="card-text mb-5">Catégorier</p>
          <div class="w-100 pb-1"></div>
          <div class="d-flex align-items-center">
              <div class="meta-author">
                  <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " alt="author avatar">
              </div>
              <div class="m-2">
                  <a href="#">Nom de Hamza</a>
              </div>
              <div class="meta-item ml-auto">
                  <a href="#">
                      <i class="fas fa-link m-1"></i>Dettail</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Foreach data-->
 <!--Foreach data-->
 <div class="col-12 col-md-4 mb-4 mt-2">
  <div class="card  h-100 border-light  bg-light shadow">
      <div class="card-body ">
        <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/240797792_930698887513667_8392305496472648903_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=973b4a&_nc_ohc=trwrYraVY4oAX9a6VBw&_nc_ht=scontent.ftun10-1.fna&oh=00_AT_VpgnE58E96hctd43CeL9Vf75gjpPBUGsCH1zusd72XQ&oe=62D842CB" class="card-img-top" alt="...">

          <blockquote class="blockquote mb-4 pb-2">
              <p class="mb-0 font-weight-bold">Nom Boutique</p>
              <footer class="blockquote-footer">Emplacement</footer>
          </blockquote>
          <p class="card-text mb-5">Catégorier</p>
          <div class="w-100 pb-1"></div>
          <div class="d-flex align-items-center">
              <div class="meta-author">
                  <img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " alt="author avatar">
              </div>
              <div class="m-2">
                  <a href="#">Nom de Hamza</a>
              </div>
              <div class="meta-item ml-auto">
                  <a href="#">
                      <i class="fas fa-link m-1"></i>Dettail</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Foreach data-->


        
    </div>
</div>
</section>